<!DOCTYPE html>
<html>

<head>
    <title>Ваши HTTP заголовки</title>
</head>

<body>
    <main>
        <aside>
            <h1>Ваш IP: <strong>{{.IP}}</strong></h1>
        </aside>
        <aside>
            <h1>Ваши HTTP заголовки</h1>
            <div>
                <ul>
                    {{range .Headers}}
                        <li>
                            <strong>{{.Header}}</strong>: {{.Value}}
                        </li>
                    {{end}}
                </ul>
            </div>
        </aside>
    </main>
</body>

</html>